:root{
  --font-primary: 'Poppins', sans-serif;

  /* Cores */

  --color-primary: #FFFFFF;
  --color-secondary: #F1F1F1;
  --color-text: #1c1c1c;
  --color-text-secondary: #FFFFFF;
  --color-overlay: #1c1c1c83;

  --color-border: #BBBBBB;

  --gradient: linear-gradient(to left, #3498DB, #34495E);
} 


/* Limpando o estilo do navegador */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
  list-style: none;
}
/* Classe utilitária */
.novidades form label{
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: inset(50%);
  white-space: nowrap;
  border: 0
}
/* Definindo estilos gerais */
body{
  font-family: var(--font-primary);
  background-color: var(--color-secondary);
  color: var(--color-text);
}

.section-timer{
  background: url('./images/foto-cima.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 80dvh;
}
.timer{
  height: 100%;
  background-color: var(--color-overlay);
  
  display: flex;
  align-items: center;
  justify-content:space-around;
}
.timer p{
  color: var(--color-text-secondary);
  text-shadow: 2px 2px #000000;
}

.timer div{
  text-align: center;
}

.timer p:first-child{
  font-size: 3rem;
  font-weight: 700;
}

.novidades{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  height:80dvh;
  padding: 1rem;
  background-color: var(--color-secondary);
  text-align: center;
}

.novidades h2{
  font-size: 2.375rem;
  background: var(--gradient);
  background-clip: text;
  color: transparent;
}

.novidades h2 + p{
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.novidades p + p{
  font-size: 1rem;
  max-width: 75ch;
  margin-bottom: 2rem;
}

.novidades form{
  display: flex;
  flex-direction: column;
  width: 100%;

  gap: 1rem;
}

input, button{
  height: 3rem;
  border-radius: 3.75rem
}

input{
  border: 1px solid var(--color-border);
  padding: 0 1rem;
}

button{
  border: 0;
  background: var(--gradient);
  font-weight: 600;
  color: var(--color-primary);
}

.andamento {
  padding: 4.75rem 1rem;
  text-align: center; 
}

.andamento h2{
  font-size: 2rem;
  font-weight: 700;
}

.andamento p{
  margin: 0.5rem 2rem;
}
img {
  max-width: 100%;
}